.DS_Store
.vscode
.env
/node_modules
/public_html/debug.log
/public_html/languages
/public_html/mu-plugins/*
!/public_html/mu-plugins/mu-plugins.php
/public_html/plugins/*
!/public_html/plugins/index.php
!/public_html/plugins/*-blocks
/public_html/themes/*/assets
/public_html/upgrade
/public_html/upgrade-temp-backup
/public_html/uploads
/public_html/wordpress
/public_html/languages
/resources/css/output.css
/temp
/vendor
auth.json